*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 0, 53);
}

#app {
  height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  color: rgb(235, 235, 235);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.button {
  border-radius: 1rem;
  border: none;
}
