@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Architects Daughter", cursive;
}

body {
  background-color: rgb(40, 0, 53);
  color: rgb(235, 235, 235);
  font-family: var(--font-family);
  margin: 0;
}

#app {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
}

.title {
  font-size: 3rem;
}

.form {
  display: grid;
  gap: 2rem;
  justify-items: center;
}

.textField {
  font-family: var(--font-family);
  font-size: 1.25rem;
}

.radioButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: min-content;
  font-size: 1.25rem;
}

.button {
  border-radius: 1rem;
  border: none;
  font-family: var(--font-family);
  font-size: 2rem;
}

.output {
  height: 100vh;
  width: 100vw;
  background: url("Bar.jpg");
  background-size: cover;
  text-align: center;
  font-size: 5rem;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.25rem;
}
