@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 0, 53);
  color: rgb(235, 235, 235);
  font-family: "Architects Daughter", cursive;
}

#app {
  height: 100vh;
  display: grid;
  place-items: center;
}

.form {
  display: grid;
  gap: 2rem;
}

.radioButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  border-radius: 1rem;
  border: none;
}
